<footer>
    <div class="footer-kitten"><img src="/img/walkingkitten_crop.png" alt="a small white kitten with black spots walking across the screen"></div>
    <div>
        {% for item in footer.links %}
            <span><a href="{{ item.link }}" rel="me"  target="_blank">{{ item.name }}</a></span>
            {% if not loop.last %}
                <span>|</span>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        <p>credits: maia kitten art by <a href="https://twitter.com/vai5000_">vai5000</a>, pixel art maia kitten by <a href="https://twitter.com/_Anunnery">A. Marmot</a> and pointer following kitten code from <a href="https://github.com/adryd325/oneko.js">adryd325/oneko.js</a></p>
    </div>
    <div class="badges">
        {% for item in footer.badges %}
            {% if item.link %}<a href="{{ item.link }}" target="_blank">{% endif %}<img src="/badges/{{ item.badge }}" alt="{{ item.alt }}" {% if item.title %}title="{{ item.title }}"{% endif %}>{% if item.link %}</a>{% endif %}
        {% endfor %}
    </div>
    <script src="https://lavender.software/webring/webring-{{ site.webring.version }}.js" data-site-id="{{ site.webring.siteId }}"></script>
    <script src="https://sleepy.zone/webring/webring-{{ site.sleepyWebring.version }}.js" data-site-id="{{ site.sleepyWebring.siteId }}"></script>
</footer>