<nav>
    {% for item in nav %}
        <span><a href="{{ item.link }}" {% if page.url == item.link %}class="active"{% endif %}>{{ item.name }}</a></span>
        {% if not loop.last %}
            <span>|</span>
        {% endif %}
    {% endfor %}
</nav>