---
subhead: blog
---
{% extends 'layouts/default.njk' %}
{% block main %}
    <article>
        <header class="article_header">
            {% if feature_image %}
                <img src="{{ feature_image }}" alt="{{ feature_alt if feature_alt else "feature image for '" + title + "'" }}" style="padding-bottom: 10px;" height="auto" width="75%" layout="responsive"/>
            {% endif %}
            <div class="byline">
                <time datetime="{{date | date_to_datetime }}">{{ date | date_formatted }}</time>
                <span>by <span class="author by" id="author">{{ site.name }}</span></span>
                {% if tags %}
                    <span>in 
                        {% for tag in tags %}
                            <span class="tag"><a href="/posts/tagged/{{ tag }}/">{{ tag }}</a></span>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </span>
                {% endif %}
            </div>
            <h1>{{ title }}</h1>
        </header>
        {{ content | safe }}
    </article>
{% endblock %}