html {
  background-color: rgb(236, 169, 203);
  color: rgb(92, 53, 124);
}

a {
  color: rgb(255, 0, 140);
}

a.active,
li.lavender-webring-curr-site > a {
  color: rgb(195, 0, 255);
}

#site_header {
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(255, 0, 140);
}

footer {
  padding-top: 5px;
}

.footer-kitten {
  height: 88px;
  border-bottom: 1px solid rgb(255, 0, 140);
  margin-bottom: 5px;
}

.footer-kitten > img {
  height: 88px;
}

footer,
#site_header,
.lavender-webring-container {
  text-align: center;
}

#content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

.byline {
  font-size: 0.75rem;
}

time,
.author {
  font-weight: bold;
}

.article_header,
.page_header {
  padding-bottom: 4px;
  border-bottom: 1px dotted rgb(219, 103, 167);
}

.article_header > h1,
.page_header > h1 {
  margin: 0.1rem;
}

img {
  max-width: 75%;
}

.tag {
  font-weight: bold;
}

.lavender-webring-container {
  all: unset;
  display: flex;
  flex-direction: column;
  padding: 1em;
  font-size: 1.125rem;
}
.lavender-webring-description {
  margin-block-end: 0.5em;
}
.lavender-webring-site-links {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}
.lavender-webring-prev-site a::before {
  content: "←";
  margin-inline-end: 1ch;
}
.lavender-webring-next-site a::after {
  content: "→";
  margin-inline-start: 1ch;
}

.sleepy-zone-webring-container {
  all: unset;
  display: flex;
  flex-direction: column;
  padding: 1em;
  font-size: 1.125rem;
}
.sleepy-zone-webring-description {
  margin-block-end: 0.5em;
}
.sleepy-zone-webring-site-links {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}
.sleepy-zone-webring-prev-site a::before {
  content: "←";
  margin-inline-end: 1ch;
}
.sleepy-zone-webring-next-site a::after {
  content: "→";
  margin-inline-start: 1ch;
}
