---
title: contact maia :3
subhead: contact
permalink: /contact/index.html
date: git Last Modified
---
{% extends 'layouts/default.njk' %}
{% block main %} 
  <p>feel free to contact me for tips, journalistic inquiries, requests for data, booking for public speaking events, etc. via email at <a href="mailto:maia@crimew.gay"><code>maia@crimew.gay</code></a> (if possible encrypted using my <a href="/files/pgp.asc">pgp key</a> <code>[A1D5 2A78 96E9 7F52 B2DF 63A1 556B ABBC C484 D39B]</code>).</p>
{% endblock %}