---
pagination:
  data: collections.decks
  size: 1
permalink: /decks/{{ pagination.items[0].fileSlug }}/index.html
---
{% for deck in pagination.items %}
    <!DOCTYPE html>
    <html lang="{{ site.language }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ deck.data.title if deck.data.title else site.title }}</title>
        
        {% bounce { path: '/css/style.css', check_path: 'src/css' } %}

        <meta name="theme-color" content="#eca9cb">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
        <link rel="shortcut icon" href="/favicon.ico">

        {% if env.environment.isProd %}
        <script async src="https://umami.crimew.gay/script.js" data-website-id="fa7a72e7-acbc-488d-beb2-213886be0262"></script>
        {% endif %}
        
        {% bounce { path: '/reveal.js/reveal.css', check_path: 'node_modules/reveal.js/dist/reveal.css' } %}
        {% bounce { path: '/css/reveal-maia.css', check_path: 'src/css' } %}

        <script type="module">
            import Reveal from '/reveal.js/reveal.esm.js';
            import Markdown from '/reveal.js/plugin/markdown/markdown.esm.js';

            let deck = new Reveal({
                plugins: [ Markdown ],
                hash: true,
                controlsTutorial: false
            })
            deck.initialize();
        </script>
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section data-markdown>
                    <textarea data-template>
                        {{ deck.data.rawMarkdown }}
                    </textarea>
                </section>
            <div>
        <div>
    </body>
    </html>
{% endfor %}
