---
permalink: feed.xml
metadata:
  title: maia blog
  url: https://maia.crimew.gay
  author:
    name: maia arson crimew
    email: maia@crimew.gay
  feed:
    subtitle: the maia blog :3
    filename: feed.xml
    path: feed/feed.xml
    url: https://maia.crimew.gay/feed.xml
    id: https://maia.crimew.gay/
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:media="http://search.yahoo.com/mrss/" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.feed.subtitle }}</subtitle>
  <link href="{{ metadata.feed.url }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.feed.id }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {% for post in collections.posts %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    {% if post.data.description %}<summary>{{ post.data.description }}</summary>{% endif %}
    {% if post.data.link %}<link href="{{ post.data.link }}"/>{% else %}<link href="{{ absolutePostUrl }}"/>{% endif %}
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content:encoded type="html"><![CDATA[{{ post.templateContent | safe | htmlToAbsoluteUrls(absolutePostUrl) | safe }}]]></content:encoded>
    {% if post.data.feature_image %}<media:content url="{{ post.data.feature_image | url | absoluteUrl(metadata.url) }}" type="image/jpeg" expression="full"></media:content>{% endif %}            
  </entry>
{% endfor %}
</feed>
