---
permalink: /index.html
---
{% extends 'layouts/default.njk' %}
{% block main %} 
    <p>
      hello i am {{ site.name }} <sup>({{ site.pronouns }})</sup> and i am gay for girls,
      also i do okay enough puter things and mediocre music things.
    </p>
    <p>here is one of my favorite gifs:</p>
    <img
      src="/img/cat-explosion.gif"
      alt="an very cool cat in front of an explosion"
    />
{% endblock %}