---
permalink: /index.html
date: git Last Modified
---
{% extends 'layouts/default.njk' %}
{% block main %} 
<div style="display: flex; flex-wrap: wrap; justify-content: center;">
  <div style="flex-grow: 1; flex-shrink: 1; flex-basis: 30%; min-width: 200px; max-width: 70%;">
    <img src="/img/kitten_cropped.png" alt="a drawing of a small white kitten with black spots sitting and looking at you">
  </div>
  <div style="flex-grow: 2; flex-shrink: 2; flex-basis: 60%;">
    <p>
      hello i am {{ site.name }} <sup>({{ site.pronouns }})</sup> and i am gay, mostly for girls, and i'm a tiny kitten :3
    </p>
    <p>
      i know lot's of things about cyber security, programming and far too little about music but i still
      try to do all those things at once. if you like the things i do here or on social media you can
      <a href="https://ko-fi.com/nyancrimew" target="_blank">support me on ko-fi</a>. links to the various things i do
      can be found in the footer. if you're looking for some more serious info about me, 
      <a href="https://en.wikipedia.org/wiki/maia_arson_crimew" target="_blank">there is wikipedia for that</a>.
    </p>
    <p>
      this website anonymously (without cookies) collects basic analytics on a self hosted instance of <a href="https://umami.is">umami</a>,
      in the interest of transparency those analytics are publicly viewable <a href="https://umami.crimew.gay/share/M77OUJ83Q4qBcOjZ/maia.crimew.gay">here</a>.
    </p>
  </div>
</div>
{% endblock %}