---
permalink: /index.html
date: git Last Modified
---
{% extends 'layouts/default.njk' %}
{% block main %} 
<div style="display: flex; flex-wrap: wrap; justify-content: center;">
  <div style="flex-grow: 1; flex-shrink: 1; flex-basis: 30%; min-width: 200px; max-width: 70%; padding: 4px;">
    <img src="/img/kitten_cropped.png" alt="a drawing of a small white kitten with black spots sitting and looking at you">
  </div>
  <div style="flex-grow: 2; flex-shrink: 2; flex-basis: 60%;">
    <p>
      hey! im {{ site.name }} <sup>({{ site.pronouns }})</sup>, welcome to my website! this site is primarily home to my <a href="/posts">blog</a>, containing my investigative journalism,
      work on hacktivism and technical articles on some of my own hacks. i also write <a href="https://daslamm.ch/format/kolumnen/cyber_punk/">a column called cyber_punk</a> for the swiss online magazine das lamm (in german). outside my journalistic and activist work i try to <a href="https://soundcloud.com/nyancrimew">make music</a>, am a live dj
      and do various other creative things.
    </p>
    <p>
      if you like the things i do here or on social media you can <a href="https://ko-fi.com/nyancrimew">support me on ko-fi</a>, which is my main source of income, so anythign helps! links to the various other places you can find me
      are in the footer and to learn more about my background <a href="https://en.wikipedia.org/wiki/maia_arson_crimew">there is my wikipedia article</a>.
    </p>
    <p>
      this website anonymously (without cookies) collects basic analytics on a self hosted instance of <a href="https://umami.is">umami</a>,
      in the interest of transparency the collected data is publicly viewable <a href="https://umami.crimew.gay/share/M77OUJ83Q4qBcOjZ/maia.crimew.gay">here</a>.
    </p>
  </div>
</div>
{% endblock %}