---
title: maia blog :3
subhead: blog
pagination:
  data: collections.posts
  addAllPagesToCollections: true
  size: 20
permalink: /posts/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html
---
{% extends 'layouts/default.njk' %}
{% block main %}
  {% include "components/pagination.njk" %}

  <ul>
    {% for entry in pagination.items %}
    <li class="list-entry">
      <a href="{{ entry.url }}"><h2>{{ entry.data.title }}</h2></a>
      <div class="byline">
        <time datetime="{{ entry.page.date | date_to_datetime }}">{{ entry.page.date | date_formatted }}</time>
        {% if entry.data.changed_date %}
            <small class="updated">(updated <time datetime="{{ entry.data.changed_date | date_to_datetime }}">{{ entry.data.changed_date | date_formatted }}</time>)</small>
        {% endif %}
        <span class="middot"></span>
        <span class="readtime">{{ entry.content | timeToRead }} to read</span>
        <span class="middot"></span>
        <span>by <span class="author by" id="author">{{ site.name }}</span></span>
        {% if entry.data.tags %}
            <span class="middot"></span>
            <span>in 
                {% for tag in entry.data.tags %}
                    <span class="tag"><a href="/posts/tagged/{{ tag | slugify }}/">{{ tag }}</a></span>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </span>
        {% endif %}
        </div>
        <span class="lead"><strong>{{ entry.data.description }}</strong></span>
    </li>
    {% endfor %}
  </ul>

  {% include "components/pagination.njk" %}
{% endblock %}
