---
permalink: /robots.txt
---
# omg haiiiii robots ^-^
# i love robots :3

# AI scrapers
{{ aibots }}

# everyone else
User-agent: *
Allow: /

# sitemaps
Sitemap: {{ site.url }}/sitemap.xml
Sitemap: {{ site.url }}/sitemap-news.xml