---
eleventyComputed:
  title: posts tagged "{{ tag }}"
subhead: blog
pagination:
  data: collections
  size: 1
  alias: tag
  filter: 
    - posts
  addAllPagesToCollections: true
permalink: /posts/tagged/{{ tag | slugify }}/index.html
date: git Last Modified
---
{% extends 'layouts/default.njk' %}
{% block main %}
        <header class="page_header">
            <h1>posts tagged "{{ tag }}"</h1>
        </header>
  <ul>
    {% set taglist = collections[ tag ] %}
    {% for entry in taglist | reverse %}
      <li class="list-entry">
          <a href="{{ entry.url }}"><h2>{{ entry.data.title }}</h2></a>
          <div class="byline">
          <time datetime="{{ entry.page.date | date_to_datetime }}">{{ entry.page.date | date_formatted }}</time>
          {% if entry.data.changed_date %}
              <small class="updated">(updated <time datetime="{{ entry.data.changed_date | date_to_datetime }}">{{ entry.data.changed_date | date_formatted }}</time>)</small>
          {% endif %}
          <span class="middot"></span>
          <span>by <span class="author by" id="author">{{ site.name }}</span>{% if entry.data.coauthor %} and <span class="author by" id="author">{{ entry.data.coauthor.name }}</span>{% endif %}</span>
          {% if entry.data.tags %}
              <span class="middot"></span>
              <span>in 
                  {% for tag in entry.data.tags %}
                      <span class="tag"><a href="/posts/tagged/{{ tag | slugify }}/">{{ tag }}</a></span>{% if not loop.last %}, {% endif %}
                  {% endfor %}
              </span>
          {% endif %}
          </div>
          <span class="lead"><strong>{{ entry.data.description }}</strong></span>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
